nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}
.btn-logout{
  float: right;
}

.layout-main{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.layout-section{
  background-color: rgba(193, 193, 193, 0.216);
  border-radius: 10px;
  padding: 20px;
}

nav{
  background-color: rgba(4, 28, 93, 0.828) !important;
  a {
    color: white !important;
  }
  ::ng-deep span{
    color: white;
  }
}

footer{
  background-color: rgba(4, 28, 93, 0.828) !important;
  color: white !important;
  position: fixed;
  bottom: 0;
  left:0;
  right: 0;
}
