<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title i18n>Car Store</title>
</head>
<body>
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
          <a i18n class="navbar-brand" routerLink="/">Car Store</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                  <!--Template for nav links-->
              </ul>
          </div>
          <button i18n class="btn-logout" *ngIf="logoutVisible" mat-button (click)="logout()">Logout</button>
      </div>
  </nav>

  <!-- Main Content -->
  <main class="container md-8 layout-main">
    <section class="col-md-8 layout-section">
      <router-outlet></router-outlet>
    </section>
  </main>

  <!-- Footer -->
  <footer class="bg-light text-center py-3">
      <p i18n>&copy; 2023 Car Store</p>
  </footer>
</body>
</html>
