<div>
  <form [formGroup]="addForm" (ngSubmit)="submit()">
    <div class="form-group">
      <label i18n for="name">Name</label>
      <input type="text" class="form-control" formControlName="name" required>
    </div>
    <div class="form-group">
      <label i18n for="color">Color</label>
      <input type="text" class="form-control" formControlName="color" required>
    </div>
    <div class="form-group">
      <label i18n for="price">Price</label>
      <input type="text" class="form-control" formControlName="price" required>
    </div>
    <div class="form-group">
      <label i18n for="saleDate">Sale date</label>
      <input type="date" class="form-control" formControlName="saleDate" required>
    </div>
    <div class="form-group">
      <label i18n for="year">Year</label>
      <input type="text" class="form-control" formControlName="year" required>
    </div>
    <br>
    <button i18n type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
